<!doctype html>
<html>
	<head>
		<title>Add Vehicle Type</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System</h1>
            </div>
            
            <div sec:authorize="isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="selected" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance Orders</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                           <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>

                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="selected" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_login" href="login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_registration" href="/registrationhome">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="sub_heading">
                <div id="loginDiv">
                    <div sec:authorize="isAuthenticated()" style="float: right;">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        Hello <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" style="float: right;">
                        <a id="loginLink" class="ui-button" href="/login">Login</a>
                    </div>
                </div>
            </div>
			
			<div id="content">
				<div id="formContainer">
                    <h2>Add Vehicle Type</h2>
                    <form action="#" th:action="@{/addvehicletypes}" th:object="${vehicleTypes}" method="post">
                        <table>
                            <tr>
                                <td>
                                    <label for="type">Vehicle Type: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{type}" id="type" placeholder="Vehicle Type" required>
                                    <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="subType">Sub Type: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{subType}" id="subType" placeholder="Sub Type">
                                    <span th:if="${#fields.hasErrors('subType')}" th:errors="*{subType}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="description">Description: </label>
                                </td>
                                <td>    
                                    <input type="text" th:field="*{description}" id="description" placeholder="Description">
                                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="make">Make: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{make}" id="make" placeholder="Make" required>
                                    <span th:if="${#fields.hasErrors('make')}" th:errors="*{make}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="model">Model: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{model}" id="model" placeholder="Model" required>
                                    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="minimumWeight">Minimum Weight: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{minimumWeight}" id="minimumWeight" placeholder="Minimum Weight" required>
                                    <span th:if="${#fields.hasErrors('minimumWeight')}" th:errors="*{minimumWeight}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="city">Maximum Weight: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{maximumWeight}" id="maximumWeight" placeholder="Maximum Weight" required>
                                    <span th:if="${#fields.hasErrors('maximumWeight')}" th:errors="*{maximumWeight}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="capacity">Capacity: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{capacity}" id="capacity" placeholder="Capacity">
                                    <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="zip">Maximum Range: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{maximumRange}" id="maximumRange" placeholder="Maximum Range" required>
                                    <span th:if="${#fields.hasErrors('maximumRange')}" th:errors="*{maximumRange}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="primaryPhone">Restrictions: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{restrictions}" id="restrictions" placeholder="Restrictions">
                                    <span th:if="${#fields.hasErrors('restrictions')}" th:errors="*{restrictions}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="height">Height: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{height}" id="height" placeholder="Height" required>
                                    <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="emptyWeight">Empty Weight: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{emptyWeight}" id="emptyWeight" placeholder="Empty Weight" required>
                                    <span th:if="${#fields.hasErrors('emptyWeight')}" th:errors="*{emptyWeight}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="length">Length: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{length}" id="length" placeholder="Length" required>
                                    <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="minimumCubicWeight">Minimum Cubic Weight: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{minimumCubicWeight}" id="minimumCubicWeight" placeholder="Minimum Cubic Weight">
                                    <span th:if="${#fields.hasErrors('minimumCubicWeight')}" th:errors="*{minimumCubicWeight}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="maximumCubicWeight">Maximum Cubic Weight: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{maximumCubicWeight}" id="maximumCubicWeight" placeholder="Height">
                                    <span th:if="${#fields.hasErrors('maximumCubicWeight')}" th:errors="*{maximumCubicWeight}"></span>
                                </td>
                            </tr>
                        </table>
                        <br>  
                        <br>
                        <input type="submit" value="Add Vehicle Type">   
                    </form>
                    <a href="/vehicletypes">Vehicle Types Page</a>
                </div>
			</div>
		</div>

		<div class="footer">
            Copyright &copy; Slippery Rock University 2022
        </div>

	</body>
</html>