<!doctype html>
<html>
	<head>
		<title>Enterprise Routing System</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System</h1>
            </div>
            
            <div sec:authorize="isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER','ASSTMANAGER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER','OPSMANAGER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER','OPSMANAGER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER','ASSTMANAGER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER','ASSTMANAGER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER','ASSTMANAGER','OPSMANAGER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance Orders</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('MANAGER','ASSTMANAGER')" class="navitem">
                            <a class="navlink" id="nav_shipments" href="/shipments">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>
                          <li sec:authorize="hasAnyAuthority('CARRIER','SHIPPER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_bids" href="/bids">Bids</a>
                        </li>

                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_login" href="login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="selected" id="nav_registration" href="registration">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
			
			<div id="content">
                <form method="POST" th:object="${userForm}" th:action="@{/registration}">
                    <h2 >Create your account</h2>
                    <label for="username">UserName</label>
                    <input type="text" th:field="*{username}" id="username" placeholder="UserName" required>
                    <p th:if="${#fields.hasErrors('username')}" th:errorclass="username" th:errors="*{username}"></p>
                    <br>
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" id="password" placeholder="Password" required>
                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="password" th:errors="*{password}"></p>
                    <br>
                    <label for="email">Email</label>
                    <input type="text" th:field="*{email}" id="email" placeholder="Email" required>
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="email" th:errors="*{email}"></p>
                    <br>
                
                    <button type="submit">Submit</button>
                </form>
                <a href="/registrationhome">Registration Home</a>
			</div>
		</div>

		<div class="footer">
            Copyright &copy; Slippery Rock University 2022
        </div>

	</body>
</html>