<!doctype html>
<html>
	<head>
		<title>Enterprise Routing System</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System</h1>
            </div>
            
            <div sec:authorize="isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance Orders</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>

                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_login" href="login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="selected" id="nav_registration" href="/registrationhome">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>
			
			<div id="content">
                <h2 >Create your account</h2>
                <br>
                <br>
                <form action="/">
                    <input type="submit" value="Cancel Registration" />
                </form>
                <br>
                <form method="POST" th:object="${userForm}" th:action="@{/registrationcarrier}">
                    <hr>
                    <br>
                    <h4>User Information:</h4>
                    <table>
                        <tr>
                            <td>
                                <label for="username">UserName: </label>
                            </td>
                            <td>
                                <input type="text" th:field="*{username}" id="username" placeholder="UserName" required>
                                <p th:if="${#fields.hasErrors('username')}" th:errorclass="username" th:errors="*{username}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password">Password: </label>
                            </td>
                            <td>
                                <input type="password" th:field="*{password}" id="password" placeholder="Password" required>
                                <p th:if="${#fields.hasErrors('password')}" th:errorclass="password" th:errors="*{password}"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email: </label>
                            </td>
                            <td>
                                <input type="text" th:field="*{email}" id="email" placeholder="Email" required>
                                <p th:if="${#fields.hasErrors('email')}" th:errorclass="email" th:errors="*{email}"></p>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <hr>
                    <br>
                    <h4>Carrier Information:</h4>
                    <table>
                        <tr>
                            <td>
                                <label for="carrierName">Carrier Name: </label>
                            </td>
                            <td>
                                <input type="text" name="carrierName" placeholder="Carrier Name" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="scac">SCAC: </label>  
                            </td>
                            <td>
                                <input type="text" name="scac" placeholder="SCAC" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="ltl">LTL: </label>
                            </td>
                            <td>
                                <select name="ltl" required>
                                    <th:block>
                                        <option th:text="Yes" th:value="Yes"></option>
                                        <option th:text="No" th:value="No"></option>
                                    </th:block>
                                </select>   
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="ftl">FTL: </label>
                            </td>
                            <td>
                                <select name="ftl" required>
                                    <th:block>
                                        <option th:text="Yes" th:value="Yes"></option>
                                        <option th:text="No" th:value="No"></option>
                                    </th:block>
                                </select>   
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="pallets">Pallets: </label>  
                            </td>
                            <td>
                                <input type="text" name="pallets" placeholder="Pallets" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="weight">Weight: </label> 
                            </td>
                            <td>
                                <input type="text" name="weight" placeholder="Weight" required>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <button type="submit">Submit</button>
                </form>
                <br>
                <a href="/registrationhome">Registration Home</a>
			</div>
		</div>

		<div class="footer">
            Copyright &copy; Slippery Rock University 2022
        </div>

	</body>
</html>