<!doctype html>
<html>
	<head>
		<title>Shipments</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System</h1>
            </div>
            
            <div sec:authorize="isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance Orders</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="selected" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="selected" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>

                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="selected" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_login" href="login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_registration" href="/registrationhome">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="sub_heading">
                <div id="loginDiv">
                    <div sec:authorize="isAuthenticated()" style="float: right;">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        Hello <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" style="float: right;">
                        <a id="loginLink" class="ui-button" href="/login">Login</a>
                    </div>
                </div>
            </div>
			
			<div id="content">
				<div th:switch="${shipments}">
                    <h2 th:case="null">No shipments yet!</h2>
                    <div th:case="*">
                        <button onclick="history.back()">Go Back</button>
                        <br>
                        <br>
                        <hr>
                        <h2>Shipment Details</h2>
                        <br><br><hr>
                        <div th:each="shipment : ${shipments}">
                            <h4>ID: </h4>
                            <span th:text="${shipment.id}"></span>
                            <br><br>
                            <h4>Client: </h4>
                            <span th:text="${shipment.client}"></span>
                            <br><br>
                            <h4>Carrier: </h4>
                            <span th:text="${shipment?.carrier?.carrierName}"></span>
                            <br><br>
                            <h4>SCAC: </h4>
                            <span th:text="${shipment.scac}"></span>
                            <br><br>
                            <h4>Vehicle: </h4>
                            <span th:text="${shipment.vehicle}"></span>
                            <br><br>
                            <h4>Client Mode: </h4>
                            <span th:text="${shipment.clientMode}"></span>
                            <br><br>
                            <h4>Ship Date: </h4>
                            <span th:text="${shipment.shipDate}"></span>
                            <br><br>
                            <h4>Freightbill Number: </h4>
                            <span th:text="${shipment.freightbillNumber}"></span>
                            <br><br>
                            <h4>Paid Amount: </h4>
                            <span th:text="${shipment.paidAmount}"></span>
                            <br><br>
                            <h4>Full Freight Terms: </h4>
                            <span th:text="${shipment.fullFreightTerms}"></span>
                            <br><br>
                            <h4>Commodity Class: </h4>
                            <span th:text="${shipment.commodityClass}"></span>
                            <br><br>
                            <h4>Commodity Pieces: </h4>
                            <span th:text="${shipment.commodityPieces}"></span>
                            <br><br>
                            <h4>Commodity Paid Weight: </h4>
                            <span th:text="${shipment.commodityPaidWeight}"></span>
                            <br><br><br>
                            <hr>
                            <h4>Shipper City: </h4>
                            <span th:text="${shipment.shipperCity}"></span>
                            <br><br>
                            <h4>Shipper State: </h4>
                            <span th:text="${shipment.shipperState}"></span>
                            <br><br>
                            <h4>Shipper Zip: </h4>
                            <span th:text="${shipment.shipperZip}"></span>
                            <br><br>
                            <h4>Shipper Latitude: </h4>
                            <span th:text="${shipment.shipperLatitude}"></span>
                            <br><br>
                            <h4>Shipper Longitude: </h4>
                            <span th:text="${shipment.shipperLongitude}"></span>
                            <br><br>
                            <h4>Google Maps Link:</h4>
                            <a th:href="|https://maps.google.com/?q=${shipment.shipperLatitude},${shipment.shipperLongitude}|" target="_blank">Google Maps Link</a>
                            <br><br><br>
                            <hr>
                            <h4>Consignee City: </h4>
                            <span th:text="${shipment.consigneeCity}"></span>
                            <br><br>
                            <h4>Consignee State: </h4>
                            <span th:text="${shipment.consigneeState}"></span>
                            <br><br>
                            <h4>Consignee Zip: </h4>
                            <span th:text="${shipment.consigneeZip}"></span>
                            <br><br>
                            <h4>Cosnginee Latitude: </h4>
                            <span th:text="${shipment.consigneeLatitude}"></span>
                            <br><br>
                            <h4>Consignee Longitude: </h4>
                            <span th:text="${shipment.consigneeLongitude}"></span>
                            <br><br>
                            <h4>Google Maps Link:</h4>
                            <a th:href="|https://maps.google.com/?q=${shipment.consigneeLatitude},${shipment.consigneeLongitude}|" target="_blank">Google Maps Link</a>
                            <br><br><br>
                            <hr>
                            <h4>Google Maps Directions Link: </h4>
                            <a th:href="|https://www.google.com/maps/dir/?api=1&origin=${shipment.shipperLatitude},${shipment.shipperLongitude}&destination=${shipment.consigneeLatitude},${shipment.consigneeLongitude}|" target="_blank">Google Maps Directions</a>
                            <br><br><br>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="footer">
            Copyright &copy; Slippery Rock University 2022
        </div>

	</body>
</html>   