<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<title>Enterprise Routing System</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System</h1>
            </div>
            
            <div sec:authorize="isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="selected" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance Orders</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>

                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="selected" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_login" href="login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_registration" href="/registrationhome">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="sub_heading">
                <div id="loginDiv">
                    <div sec:authorize="isAuthenticated()" style="float: right;">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        Hello <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" style="float: right;">
                        <a id="loginLink" class="ui-button" href="/login">Login</a>
                    </div>
                </div>
            </div>
			<div id="content">
                <div id="loginDiv" style="text-align: center" th:each="vehicle : ${vehicles}">
                    <h1>Are you sure you want to delete vehicle: </h1>
                    <br>
                    <br>
                    <h2 th:text="${vehicle}"></h2>
                    <br>
                    <br>
                    <h2><a th:href="|/deletevehicleconfirmation/${vehicle.id}|">Yes</a></h2>
                    <br>
                    <h2><a href="/vehicles">No</a></h2>
                </div>
            </div>
		</div>

		<div class="footer">
            Copyright &copy; Slippery Rock University 2022
        </div>

	</body>
</html>