<!doctype html>
<html>
	<head>
		<title>Update Maintenance Order</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System</h1>
            </div>
            
            <div sec:authorize="isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="selected" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance Orders</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                          <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>

                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" id="navbar">
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="selected" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_login" href="login">Login</a>
                        </li>
                        <li sec:authorize="!isAuthenticated()" class="navitem">
                            <a class="navlink" id="nav_registration" href="/registrationhome">Registration</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="sub_heading">
                <div id="loginDiv">
                    <div sec:authorize="isAuthenticated()" style="float: right;">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        Hello <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" style="float: right;">
                        <a id="loginLink" class="ui-button" href="/login">Login</a>
                    </div>
                </div>
            </div>
			
			<div id="content">
                <h2>Update Maintenance order</h2>
				<div id="formContainer">
                    <form action="#" th:action="@{/updateorder/{id}(id=${maintenanceOrders.id})}" th:object="${maintenanceOrders}" method="post">
                        <table>
                            <tr>
                                <td>
                                    <label for="technician">Technician: </label>
                                </td>
                                <td>
                                    <select th:field="*{technician}" required>
                                        <th:block th:each="technician : ${technicians}">
                                            <option th:text="${technician}" th:value="${technician.id}"></option>
                                        </th:block>
                                    </select>   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="scheduled_date">Scheduled Date: </label>   
                                </td>
                                <td>
                                    <input type="date" th:field="*{scheduled_date}" id="date" placeholder="Scheduled Date" required>
                                    <span th:if="${#fields.hasErrors('scheduled_date')}" th:errors="*{scheduled_date}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="details">Details: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{details}" id="details" placeholder="Details" required>
                                    <span th:if="${#fields.hasErrors('details')}" th:errors="*{details}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="service_type_key">Service Type: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{service_type_key}" id="service_type_key" placeholder="Service Type">
                                    <span th:if="${#fields.hasErrors('service_type_key')}" th:errors="*{service_type_key}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="cost">Cost: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{cost}" id="cost" placeholder="Cost" required>
                                    <span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="status_key">Status: </label>
                                </td>
                                <td>
                                	<select th:field="*{status_key}" id="status_key" placeholder="Status" required>
                                	<option value="Pending">Pending</option>
                                	<option value="Completed">Completed</option>
                                	 </select>
                                    <span th:if="${#fields.hasErrors('status_key')}" th:errors="*{status_key}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="vehicle">Vehicle: </label>
                                </td>
                                <td>
                                    <select th:field="*{vehicle}" required>
                                        <th:block th:each="vehicle : ${vehicles}">
                                            <option th:text="${vehicle}" th:value="${vehicle.id}"></option>
                                        </th:block>
                                    </select>  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="maintenance_type">Maintenance Type: </label>
                                </td>
                                <td>
                                    <input type="text" th:field="*{maintenance_type}" id="maintenance_type" placeholder="Maintenance Type" required>
                                    <span th:if="${#fields.hasErrors('maintenance_type')}" th:errors="*{maintenance_type}"></span>
                                </td>
                            </tr>
                        </table>            
                        <br>   
                        <br> 
                        <input type="submit" value="Update Maintenance Order">  
                        
                    </form>
                    <a href="/maintenanceorders">Maintenance Orders Page</a>
                </div>
			</div>
		</div>

		<div class="footer">
            Copyright &copy; Slippery Rock University 2022
        </div>

	</body>
</html>